<form action="/data" method = "POST">
    <p>Name <input type = "text" name = "Name" /></p>
    <p>Sex <input type = "radio" name = "Sex" value="M" />M <input type = "radio" name = "Sex" value="F" />F </p>
    <p>Hobbies <input type = "checkbox" name = "Hobby1" value="Soccer"/>Soccer 
            <input type = "checkbox" name = "Hobby2" value="Painting"/>Painting
            <input type = "checkbox" name = "Hobby3" value="Gaming"/>Gaming
    </p>
    City<select name="City">
        <option value=""></option>
        <option>Milano</option>
        <option>Roma</option>
        <option>Napoli</option>
      </select>
    </p>
    <p><textarea name="Comments" rows="4" cols="50"></textarea>
    </p>
    <p><input type = "submit" value = "Submit" /></p>
</form>